* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: solid red px;
}

/* Nav CSS */

/* Nav CSS End */

body {
  background-color: #e3e7eb;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

i {
  color: white;
  font-size: x-large;
}

.download-cv {
  color: black;
  text-decoration: none;
  padding-left: 10px;
}

.download-cv > i {
  color: black;
}

.wrapper {
  background-color: white;
  /* width: 90%; */

  height: 90%;
  margin: 3rem 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

.row > p {
  text-align: justify;
  font-size: 12px;
  font-weight: normal;
  margin: 10px 50px 10px 0;
}

button {
  color: white;
  background-color: black;
  padding: 8px 15px;
  border-radius: 20px;
  margin: 10px 0;
}

.icon-group {
  text-align: left;
  margin: 20px 0;
}

.icon {
  background-color: black;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 0 10px;
}

.card {
  width: 250px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card-text {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 2rem 2.5rem;
    display: block;
    gap: 0;
  }

  .row > p {
    margin: 0;
  }

  .icon-group {
    text-align: center;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 514px) {
  .wrapper {
    margin: 1rem 1rem;
  }

  h1 {
    text-align: center;
  }
}
